body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, hsla(48, 100%, 50%, 1) 0%, hsla(63, 100%, 50%, 1) 100%);
}

h1{
    text-align: center;
}


img{

    width: 300px;
    margin: 30px;
    border: solid black 5px;
    border-radius: 20px;
    transition: 1s;

}

img:hover{
    transform: scale(1.3);
}